/*
 * Advince.css
 *
 */
.main {
    margin-top: 70px;
}

.mainbar p {
    font-size: 13px;
    line-height: 24px;
}

.mainbar h2 {
    font-size: 16px;
    clear: both;
}

.search-title {
    width: 85%;
    float: left;
    margin-bottom: 12px;
}

.search-button {
    float: left;
    margin-top: 0;
    margin-left: 3px;
}

.advised {
    font-size: 13px;
    margin-left: 6px;
}

.next {
    text-align: right;
}


