
@{
    ViewData["Title"] = "专栏";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<main class="container main">
    <div class="sm-12">
        <div class="subheader">
            <div class="tabs tab-left">
                <a href="~/users/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value/@User.Identity.Name">主页</a>
                <a href="~/users/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value/@User.Identity.Name/activity" class="youarehere">足迹</a>
                <a href="~/users/edit/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value">修改个人信息</a>
            </div>
        </div>
        <div class="side-menu sm-2">
            <ul style="margin:0;padding:0">
                <li class="category">
                    回答
                    <ul>
                        <li><a href="~/users/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value/@User.Identity.Name/activity?tab=question">我的提问</a></li>
                        <li><a href="~/users/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value/@User.Identity.Name/activity?tab=answer">我的回答</a></li>
                    </ul>
                </li>

                <li class="category">
                    专栏
                    <ul>
                        <li><a href="~/blogs/add">写文章</a></li>
                        <li><a href="~/users/@User.Claims.Single(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Value/@User.Identity.Name/activity?tab=blogs" class="side-menu-active">我的专栏</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mainbar sm-10">
            <div class="subheader sm-12">
                <p class="h-top-title">的专栏</p>
            </div>
            @{
                foreach (AskME.Core.Entities.Blog blog in ViewBag.Blogs)
                {
                    <div class="post-container">
                        <span class="iconfont icon-answer icon-a"></span>
                        <span class="vote">@(blog.Up + blog.Down)</span>
                        <a href="~/blogs/@blog.Id" class="answer-hyperlink">
                            @Html.Raw(blog.Title)
                        </a>
                        <span class="pull-right datetime">@Html.Raw(blog.SubTime)</span>
                    </div>
                }
            }

        </div>
    </div>
</main>

